extends ../layout

//没有解决左侧小箭头的位置功能
block content
	// main container
	.content
		// settings changer
		.skins-nav
			a.skin.first_nav.selected(href='#')
				span.icon
				span.text Default
			a.skin.second_nav(href='#', data-file='css/skins/dark.css')
				span.icon
				span.text Dark skin
		.container-fluid
			#pad-wrapper.users-list
				.row-fluid.header
					h3 请假列表
					.span10.pull-right
						input.span5.search(type='text', placeholder="请输入用户名...")
						// custom popup filter
						// styles are located in css/elements.css
						// script that enables this dropdown is located in js/theme.js
						.ui-dropdown
							.head(data-toggle='tooltip', title='Click me!')
								| Filter users
								i.arrow-down
							.dialog
								.pointer
									.arrow
									.arrow_border
								.body
									p.title
										| Show users where:
									.form
										select
											option
												| Name
											option
												| Email
											option
												| Number of orders
											option
												| Signed up
											option
												| Last seen
										select
											option
												| is equal to
											option
												| is not equal to
											option
												| is greater than
											option
												| starts with
											option
												| contains
										input(type='text')
										a.btn-flat.small Add filter
						a.btn-flat.success.pull-right(href='new-user.html')
							span +
							|                             NEW USER
				// Users table
				.row-fluid.table
					table.table.table-hover
						thead
							tr
								th.span4.sortable
									| Name
								th.span3.sortable
									span.line
									| Signed up
								th.span2.sortable
									span.line
									| Total spent
								th.span3.sortable.align-right
									span.line
									| Email
						tbody
							// row
							tr.first
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| Mar 13, 2012
								td
									| $ 4,500.00
								td.align-right
									a(href='#') alejandra@canvas.com
							// row
							tr
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img2.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| Jun 03, 2012
								td
									| $ 549.99
								td.align-right
									a(href='#') alejandra@canvas.com
							// row
							tr
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| Mar 01, 2014
								td
									| $ 30.00
								td.align-right
									a(href='#') alejandra@canvas.com
							// row
							tr
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img2.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| Jan 28, 2012
								td
									| $ 1,320.00
								td.align-right
									a(href='#') alejandra@canvas.com
							// row
							tr
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| May 16, 2012
								td
									| $ 89.99
								td.align-right
									a(href='#') alejandra@canvas.com
							// row
							tr
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img2.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| Sep 06, 2012
								td
									| $ 344.00
								td.align-right
									a(href='#') alejandra@canvas.com
							// row
							tr
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| Jul 13, 2012
								td
									| $ 800.00
								td.align-right
									a(href='#') alejandra@canvas.com
							// row
							tr
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img2.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| Feb 13, 2014
								td
									| $ 250.00
								td.align-right
									a(href='#') alejandra@canvas.com
							// row
							tr
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| Feb 27, 2014
								td
									| $ 1,300.00
								td.align-right
									a(href='#') alejandra@canvas.com
				.pagination.pull-right
					ul
						li
							a(href='#') ‹
						li
							a.active(href='#') 1
						li
							a(href='#') 2
						li
							a(href='#') 3
						li
							a(href='#') 4
						li
							a(href='#') 5
						li
							a(href='#') ›
				// end users table
	// end main container
	// scripts
	script(src='http://code.jquery.com/jquery-latest.js')
	script(src='js/bootstrap.min.js')
	script(src='js/theme.js')
	div(style='display:none')
		script(src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540', language='JavaScript', charset='gb2312')
